<div class="row">
  <div class="card col-6">
    <div class="card-header">
      <h1>Create new task</h1>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submit()">
        <div class="input-group mb-3">
          <span class="input-group-text">description</span>
          <textarea [(ngModel)]="description" class="form-control" name="description" ngDefaultControl></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">project id</span>
          <input [(ngModel)]="project_id" class="form-control" name="project_id" ngDefaultControl type="number"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">start time</span>
          <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
            <input [formControl]="start_time" class="form-control" type="text"/>
          </ng-persian-datepicker>
          <!--          <input [(ngModel)]="start_time" class="form-control" name="end_time" ngDefaultControl type="number"/>-->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">task title</span>
          <input [(ngModel)]="title" class="form-control" name="title" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">task point</span>
          <input [(ngModel)]="task_point" class="form-control" name="task_point" type="number"/>
        </div>
        <div class="input-group">
          <span class="input-group-text">work location</span>
          <input [(ngModel)]="work_location" class="form-control" name="work_location" ngDefaultControl type="text"/>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>Delete a task</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="SubmitDeleteTask()">
          <div class="input-group mb-3">
            <span class="input-group-text">project id</span>
            <input [(ngModel)]="task_id" class="form-control" name="project_id" type="number"/>
          </div>
          <input class="btn btn-success" type="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-6 mt-3">
    <div class="card-header">
      <h1>Edit a task</h1>
    </div>
    <div class="card-body">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">task id</span>
        </div>
        <input [(ngModel)]="edit_task_id" class="form-control" name="task_id" ngDefaultControl type="number"/>
        <input (click)="GetTask()" class="btn btn-success" type="submit" value="Load task"/>
      </div>
      <form (ngSubmit)="EditTask()" class="mt-3">
        <div class="input-group mb-3">
          <span class="input-group-text">description</span>
          <textarea [(ngModel)]="edit_description" class="form-control" name="description" ngDefaultControl></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">project id</span>
          <input [(ngModel)]="edit_project_id" class="form-control" name="project_id" ngDefaultControl type="number"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">start time</span>
          <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
            <input [formControl]="edit_task_start_time" class="form-control" type="text"/>
          </ng-persian-datepicker>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">task points</span>
          <input [(ngModel)]="edit_task_points" class="form-control" name="task_point" type="number"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">task title</span>
          <input [(ngModel)]="edit_title" class="form-control" name="title" ngDefaultControl type="text"/>
        </div>
        <div class="input-group">
          <span class="input-group-text">work location</span>
          <input [(ngModel)]="edit_work_location" class="form-control" name="work_location" ngDefaultControl
                 type="text"/>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h1>Change task status</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group">
            <span class="input-group-text">task id</span>
            <input [(ngModel)]="edit_status_task_id" class="form-control" name="task_id" type="number"/>
            <div class="btn-group">
              <button (click)="ApproveTask()" class="btn btn-success">Approve task</button>
              <button (click)="RejectTask()" class="btn btn-danger">Reject task</button>
              <button (click)="SetTaskWaiting()" class="btn btn-secondary">Waiting</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-3">
    <div class="col-3 row">
      <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false" class="mb-3">
        <div class="input-group">
          <span class="input-group-text">from date:</span>
          <input [formControl]="GetTaskRangeFields.fromDate" class="form-control"/>
        </div>
      </ng-persian-datepicker>
      <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
        <div class="input-group">
          <span class="input-group-text">to date:</span>
          <input [formControl]="GetTaskRangeFields.toDate" class="form-control"/>
        </div>
      </ng-persian-datepicker>
      <input [(ngModel)]="GetTaskRangeFields.projectId" class="form-control mt-3" name="project_id" type="number"/>
      <input [(ngModel)]="GetTaskRangeFields.workLocation" class="form-control mt-3" name="work_location" type="text"/>
      <button (click)="GetTaskRange()" class="btn btn-success mt-3">Load!</button>
    </div>
    <table class="table bg-white mt-3">
      <thead>
      <th>#</th>
      <th>project id</th>
      <th>status</th>
      <th>title</th>
      <th>work location</th>
      <th>points</th>
      <th>start time</th>
      </thead>
      <tbody>
      <tr *ngFor="let task of taskRange;index as i">
        <td>{{i + 1}}</td>
        <td>{{task.ProjectId}}</td>
        <td>{{task.Status}}</td>
        <td>{{task.Title}}</td>
        <td>{{task.WorkLocation}}</td>
        <td>{{task.Points}}</td>
        <td>{{task.StartTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
