<div class="row">
  <div class="card col-6">
    <div class="card-header">
      <h1>Create new user</h1>
    </div>
    <div class="card-body">
      <form (submit)="CreateUser()">
        <div class="input-group mb-3">
          <span class="input-group-text">name</span>
          <input [(ngModel)]="name" class="form-control" name="name" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">lastname</span>
          <input [(ngModel)]="lastname" class="form-control" name="lastname" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">company level</span>
          <input [(ngModel)]="company_level" class="form-control" name="company_level" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">skill level</span>
          <input [(ngModel)]="skill_level" class="form-control" name="skill_level" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">username</span>
          <input [(ngModel)]="username" class="form-control" name="username" ngDefaultControl type="username"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">password</span>
          <input [(ngModel)]="password" class="form-control" name="password" ngDefaultControl type="password"/>
        </div>
        <div class="input-group">
          <label class="btn btn-secondary" for="profile_pic">Profile picture</label>
          <input (change)="SetFile($event)" class="form-control" id="profile_pic"
                 name="profile_picture" type="file"/>
        </div>
        <div class="row mt-4">
          <div *ngFor="let permission of Permissions" class="form-check col-3">
            <input (click)="TogglePermission(permission.title)" class="form-check-input" id="{{permission.title}}"
                   type="checkbox"
                   value="">
            <label class="form-check-label" for="{{permission.title}}">
              {{permission.title}}
            </label>
          </div>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>Delete a user</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="DeleteUser()">
          <div class="input-group mb-3">
            <span class="input-group-text">username</span>
            <input [(ngModel)]="delete_user_username" class="form-control" name="project_id" ngDefaultControl
                   type="text"/>
          </div>
          <input class="btn btn-success" type="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-6">
    <div class="card-header">
      <h1>edit an existing user</h1>
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text">username</span>
        <input [(ngModel)]="load_user_username" class="form-control" name="user_username" ngDefaultControl
               type="text"/>
        <button (click)="LoadUser()" class="btn btn-success">Load user!</button>
      </div>
      <form (submit)="UpdateUser()">
        <div class="input-group mb-3">
          <span class="input-group-text">name</span>
          <input [(ngModel)]="edit_user_name" class="form-control" name="name" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">lastname</span>
          <input [(ngModel)]="edit_user_lastname" class="form-control" name="lastname" ngDefaultControl type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">company level</span>
          <input [(ngModel)]="edit_user_company_level" class="form-control" name="company_level" ngDefaultControl
                 type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">skill level</span>
          <input [(ngModel)]="edit_user_skill_level" class="form-control" name="skill_level" ngDefaultControl
                 type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">username</span>
          <input [(ngModel)]="edit_user_username" class="form-control" name="username" ngDefaultControl
                 type="username"/>
        </div>
        <div class="row">
          <div *ngFor="let permission of Permissions" class="form-check col-3">
            <input (click)="edit_TogglePermission(permission.title)" [(ngModel)]="permission.is_active"
                   class="form-check-input" id="edit_{{permission.title}}" name="edit_{{permission.title}}}"
                   ngDefaultControl
                   type="checkbox" value="">
            <label class="form-check-label" for="edit_{{permission.title}}">
              {{permission.title}}
            </label>
          </div>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
</div>
