<div class="col-6">
  <div class="card">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <form (submit)="Login()" class="align-content-center">
        <div class="input-group">
          <span class="input-group-text">username</span>
          <input [(ngModel)]="username" class="form-control" name="username" type="text"/>
        </div>
        <div class="input-group mt-3">
          <span class="input-group-text">password</span>
          <input [(ngModel)]="password" class="form-control" name="password" type="password"/>
        </div>
        <button class="btn btn-success mt-3">Login!</button>
      </form>
    </div>
  </div>
</div>
