<div class="row">
  <div class="card col-6">
    <div class="card-header">
      <h1>Record mission</h1>
    </div>
    <div class="card-body">
      <form (submit)="submitMission()">
        <div class="input-group mb-3">
          <span class="input-group-text">Title</span>
          <input [(ngModel)]="SubmitMissionFields.title" class="form-control" name="title" ngDefaultControl
                 type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">description</span>
          <textarea [(ngModel)]="SubmitMissionFields.description" class="form-control" name="description"
                    ngDefaultControl></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">from date</span>
          <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
            <input [formControl]="SubmitMissionFields.from_date" class="form-control" type="text"/>
          </ng-persian-datepicker>
          <!--          <input [(ngModel)]="SubmitMissionFields.from_date" class="form-control" name="from_date" ngDefaultControl-->
          <!--                 type="number"/>-->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">to date</span>
          <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
            <input [formControl]="SubmitMissionFields.to_date" class="form-control" type="text"/>
          </ng-persian-datepicker>
          <!--          <input [(ngModel)]="SubmitMissionFields.to_date" class="form-control" name="to_date" ngDefaultControl-->
          <!--                 type="number"/>-->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">project id</span>
          <input [(ngModel)]="SubmitMissionFields.project_id" class="form-control" name="project_id" ngDefaultControl
                 type="number"/>
        </div>
        <div class="input-group">
          <span class="input-group-text">location</span>
          <input [(ngModel)]="SubmitMissionFields.location" class="form-control" name="location" ngDefaultControl
                 type="text"/>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>delete mission</h1>
      </div>
      <div class="card-body">
        <form (submit)="DeleteMission()">
          <div class="input-group mb-3">
            <span class="input-group-text">mission id</span>
            <input [(ngModel)]="DeleteMissionFields.mission_id" class="form-control" name="mission_id" ngDefaultControl
                   type="number"/>
          </div>
          <input class="btn btn-success" type="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-6 mt-3">
    <div class="card-header">
      <h1>edit a mission</h1>
    </div>
    <div class="card-body">
      <div class="input-group">
        <span class="input-group-text">mission id</span>
        <input [(ngModel)]="GetMissionFields.mission_id" class="form-control" name="off_time_id" type="number"/>
        <input (click)="GetMission()" class="btn btn-success" type="submit" value="Load task"/>
      </div>
      <form (submit)="UpdateMission()">
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text">Title</span>
          <input [(ngModel)]="EditMissionFields.title" class="form-control" name="title" ngDefaultControl
                 type="text"/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">description</span>
          <textarea [(ngModel)]="EditMissionFields.description" class="form-control" name="description"
                    ngDefaultControl></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">from date</span>
          <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
            <input [formControl]="EditMissionFields.from_date" class="form-control" type="text"/>
          </ng-persian-datepicker>
          <!--          <input [(ngModel)]="EditMissionFields.from_date" class="form-control" name="from_date" ngDefaultControl-->
          <!--                 type="number"/>-->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">to date</span>
          <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
            <input [formControl]="EditMissionFields.to_date" class="form-control" type="text"/>
          </ng-persian-datepicker>
          <!--          <input [(ngModel)]="EditMissionFields.to_date" class="form-control" name="to_date" ngDefaultControl-->
          <!--                 type="number"/>-->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">project id</span>
          <input [(ngModel)]="EditMissionFields.project_id" class="form-control" name="project_id" ngDefaultControl
                 type="number"/>
        </div>
        <div class="input-group">
          <span class="input-group-text">location</span>
          <input [(ngModel)]="EditMissionFields.location" class="form-control" name="location" ngDefaultControl
                 type="text"/>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h1>Change mission status</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group">
            <span class="input-group-text">mission id</span>
            <input [(ngModel)]="ChangeMissionStatusFields.mission_id" class="form-control" name="mission_id"
                   ngDefaultControl type="number"/>
            <button (click)="ApproveMission()" class="btn btn-success">Approve mission</button>
            <button (click)="RejectMission()" class="btn btn-danger">Reject mission</button>
            <button (click)="SetMissionWaiting()" class="btn btn-secondary">Set mission waiting</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-3">
    <div class="col-3 mb-3">
      <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
        <input [formControl]="LoadMissionRangeFields.fromDate" class="form-control" type="text"/>
      </ng-persian-datepicker>
      <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [timeEnable]="false">
        <input [formControl]="LoadMissionRangeFields.toDate" class="form-control mt-3" type="text"/>
      </ng-persian-datepicker>
      <input [(ngModel)]="LoadMissionRangeFields.projectId" class="form-control" name="project_id" type="number"/>
      <button (click)="LoadMissionRange()">Load!</button>
    </div>
    <table class="table">
      <thead>
      <th>#</th>
      <th>project id</th>
      <th>from date</th>
      <th>to date</th>
      <th>description</th>
      <th>title</th>
      <th>location</th>
      </thead>
      <tbody>
      <tr *ngFor="let mission of MissionRange;index as i">
        <td>{{i + 1}}</td>
        <td>{{mission.ProjectId}}</td>
        <td>{{mission.FromDate}}</td>
        <td>{{mission.ToDate}}</td>
        <td>{{mission.Description}}</td>
        <td>{{mission.Title}}</td>
        <td>{{mission.Location}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
