<div class="row">
  <div class="card col-6">
    <div class="card-header">
      <h1>Request off time</h1>
    </div>
    <div class="card-body">
      <form (ngSubmit)="RecordOffTime()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">description</span>
          </div>
          <textarea name="description" class="form-control" [(ngModel)]="description"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-appen">
            <span class="input-group-text">from date</span>
          </div>
          <input type="number" name="from_date" class="form-control" [(ngModel)]="from_date"/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">to date</span>
          </div>
          <input type="number" name="to_date" class="form-control" [(ngModel)]="to_date"/>
        </div>
        <input type="submit" class="btn btn-success col-6 mt-3"/>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>Cancel off time</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="CancelOffTime()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">project id</span>
            </div>
            <input class="form-control" type="number" name="off_time_id" [(ngModel)]="cancel_off_time_id"/>
          </div>
          <input type="submit" class="btn btn-success"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-6 mt-3">
    <div class="card-header">
      <h1>Edit a task</h1>
    </div>
    <div class="card-body">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">off time id</span>
        </div>
        <input type="number" class="form-control" name="off_time_id" [(ngModel)]="edit_off_time_id"/>
        <input type="submit" class="btn btn-success" value="Load task" (click)="LoadOffTimeData()"/>
      </div>
      <form class="mt-3" (ngSubmit)="EditOffTime()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">description</span>
          </div>
          <textarea name="description" [(ngModel)]="edit_off_time_description" class="form-control"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-appen">
            <span class="input-group-text">end time</span>
          </div>
          <input type="number" name="end_time" [(ngModel)]="edit_off_time_from_date" class="form-control"/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">to date</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="edit_off_time_to_date" name="to_date"/>
        </div>
        <input type="submit" class="btn btn-success col-6 mt-3"/>
      </form>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h1>Change off time status</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">task id</span>
            </div>
            <input type="number" name="task_id" class="form-control" [(ngModel)]="change_status_off_time_id"/>
            <div class="btn-group">
              <button class="btn btn-success" (click)="ApproveOffTime()">Approve off time</button>
              <button class="btn btn-danger" (click)="RejectOffTime()">Reject off time</button>
              <button class="btn btn-secondary" (click)="SetOffTimeStatusWaiting()">Waiting</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
