<div class="row">
  <div class="card col-6">
    <div class="card-header">
      <h1>Create new project</h1>
    </div>
    <div class="card-body">
      <form (ngSubmit)="RecordProject()">
        <div class="input-group mb-3">
          <span class="input-group-text">description</span>
          <textarea [(ngModel)]="description" class="form-control" name="description" ngDefaultControl
                    rows="1"></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">project name</span>
          <input [(ngModel)]="name" class="form-control" name="project_name" ngDefaultControl type="text"/>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>Delete a project</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group mb-3">
            <span class="input-group-text">project id</span>
            <input [(ngModel)]="delete_project_id" class="form-control" name="project_id" type="number"/>
          </div>
          <input (click)="DeleteProject()" class="btn btn-success" type="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-6 mt-3">
    <div class="card-header">
      <h1>Edit a project</h1>
    </div>
    <div class="card-body">
      <div class="input-group">
        <span class="input-group-text">project id</span>
        <input [(ngModel)]="edit_project_id" class="form-control" name="project_id" ngDefaultControl type="number"/>
        <input (click)="LoadProject()" class="btn btn-success" type="submit" value="Load task"/>
      </div>
      <form (ngSubmit)="UpdateProject()" class="mt-3">
        <div class="input-group mb-3">
          <span class="input-group-text">description</span>
          <textarea [(ngModel)]="edit_project_description" class="form-control" name="description" rows="1"></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">project title</span>
          <input [(ngModel)]="edit_project_name" class="form-control" name="title" type="text"/>
        </div>
        <input class="btn btn-success col-6 mt-3" type="submit"/>
      </form>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h1>Change member status</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group">
            <input [(ngModel)]="add_member_project_id" class="form-control" name="project_id" placeholder="project id"
                   type="number"/>
            <input [(ngModel)]="add_member_user_id" class="form-control" name="user_id" placeholder="user id"
                   type="number"/>
            <select [(ngModel)]="add_member_level" aria-label="Member Level" class="form-select" name="member_level">
              <option value="admin">project admin</option>
              <option value="developer">developer</option>
              <option value="po">project owner</option>
              <option value="trainee">trainee</option>
            </select>
            <button (click)="AddMember()" class="btn btn-success">Add member</button>
          </div>
        </form>
        <form>
          <div class="input-group mt-3">
            <input [(ngModel)]="delete_member_project_id" class="form-control" name="project_id"
                   placeholder="project id"
                   type="number"/>
            <input [(ngModel)]="delete_member_user_id" class="form-control" name="user_id" placeholder="user id"
                   type="number"/>
            <button (click)="DeleteMember()" class="btn btn-danger">Delete!</button>
          </div>
        </form>
        <form>
          <div class="input-group mt-3">
            <input [(ngModel)]="update_project_member_project_id" class="form-control" name="project_id"
                   placeholder="project id"
                   type="number"/>
            <input [(ngModel)]="update_project_member_user_id" class="form-control" name="user_id" placeholder="user id"
                   type="number"/>
            <select [(ngModel)]="update_project_member_level" aria-label="Member Level" class="form-select"
                    name="member_level">
              <option value="admin">project admin</option>
              <option value="developer">developer</option>
              <option value="po">project owner</option>
              <option value="trainee">trainee</option>
            </select>
            <button (click)="UpdateProjectMember()" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-3">
    <div class="col-3">
      <input [(ngModel)]="projectSearchTerm" class="form-control mb-3" type="text"/>
      <button (click)="LoadProjectRange()" class="btn btn-success">Load!</button>
    </div>
    <table class="table bg-white">
      <thead>
      <th>#</th>
      <th>description</th>
      <th>name</th>
      </thead>
      <tbody>
      <tr *ngFor="let project of projectRange; index as i">
        <td>{{i + 1}}</td>
        <td>{{project.Description}}</td>
        <td>{{project.Name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
